@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #121214;
  --white: #f8f2f5;
  --red: #e52e4d;
  --blue-dark: #363f5f;
  --text-subtitle: #808080;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--white);
  color: var(--black);
  --webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  color: var(--blue-dark);
}

header {
  background-color: var(--blue-dark);
}

img {
  width: 100%;
}

/*Form*/
.form {
  padding: 1.5rem 0;
}

form {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0.5rem;
}

input,
select,
textarea {
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  border-radius: 5px;
}

input:focus,
select:focus,
textarea:focus,
input:hover,
select:hover,
textarea:hover {
  outline: none;
  box-shadow: 0 0 0 2px #363f5f77;
}

textarea {
  resize: vertical;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.brand {
  padding: 1.25rem;
  width: 260px;
}

.button__form {
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
  padding: 1.25rem;
  cursor: pointer;
}

.button__form:hover {
  outline: none;
  box-shadow: 0 0 0 2px #363f5f77;
}

.button__form + .button__form {
  margin-left: 0.5rem;
}

.button__form--default {
  background-color: var(--blue-dark);
}

.button__form--danger {
  background-color: var(--red);
}

.title {
  font-size: 1.5rem;
  color: var(--blue-dark);
  font-weight: bold;
}

/*Article*/
.articles {
  padding: 0 0 5rem 0;
}

.articles__article {
  padding: 1.25rem 0;
  margin: 0.5rem;
}

.articles__article h2 {
  margin-bottom: 1.25rem;
  font-weight: 700;
}

.articles__article span {
  color: var(--text-subtitle);
  display: block;
  padding: 1.25rem 0;
}

.footer {
  padding: 1.5rem 0;
  text-align: center;
}
